@import url(fontawesome-all.min.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Montserrat';
	vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Side bar */
.sidebar {
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    margin-top: 4.5em;
    z-index: -1;
    border-bottom: 1px solid rgb(150, 150, 150);
  }
  
  .sidebar a {
    
    justify-content: center;
    text-align: center;

    width: 100%;
    text-decoration: none;
    
    font-size: 0.75em;
    letter-spacing: 0.1em;
    color: rgb(100, 100, 100);
    display: inline-flex;
    
    padding: 1.1em 0em 1.1em 0em;

    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s;
  }
  

  

.navButton { 
    width: 0;
    visibility: hidden;
}
  


/* Navigation Bar */

.nav {
    width: 100%;
    text-align: center;

    padding: 1.25em 1em 1.25em 1em;
    margin-bottom: 2em;

    overflow: hidden;
    margin-left: auto;
    border-bottom: 1px solid rgb(150, 150, 150);
    background-color: white;

    display: flex;
    position: fixed;

    

    
}

.navmenu {
    width: 100%;
    align-items: center;
}

.navhome {
    position:fixed;
    display: block;
    padding-left: 1em;
    z-index: 1;
}

.navwrap {
    width: 100%;
    margin-right: 3em;
    display: flex;
    justify-content: center;

   
}

    .navwrap a {
        display: inline-flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        color: rgb(100, 100, 100);
        padding: 0.75em 2.5em;
        text-decoration: none;
        font-size: 0.75em;
        letter-spacing: 0.1em;
    }
    .navwrap a:hover {
        color: rgb(0, 0, 0);
        transition: 0.3s;
    }


 

/* Home */

.home {
    
    display: inline-flex;
    
    width: 80vw ;
    margin-top: 6em;
    margin: 6em 10vw 0em 10vw;
    padding-top: 3em;
    padding-bottom: 4em;


    justify-content: center;
    transition: 0.5s;
    background-color: black;
}

    .home h1 {
        color: white;
        font-size: 4em;       
        padding-bottom: 0.5em; 
        
    }

    .home h2 {
        font-size: 1.5em;
        font-weight: 400;
        color:rgb(140, 140, 140);        
        padding-bottom: 2.5em;
        line-height: 1.75em;
    }

.intro {
    margin-top: auto;
    margin-bottom: auto;
    width: 65%;
    padding-bottom: 0em;
    
    justify-content: center;
    text-align: center;
}




/* Buttons */

.button-white {
    letter-spacing: 2px;
    background-color: white;
    border-radius: 3.5px;
    text-decoration: none;
    padding: 1em 2.5em 1em 2.5em;
    margin: 1.5em;
    letter-spacing: 1px;
    color: black;
}

    .button-white:hover {
        background-color: rgb(180, 180, 180);
        transition: 0.35s;
    }

.button-black {
    letter-spacing: 2px;
    background-color: black;
    border-radius: 3.5px;
    text-decoration: none;
    padding: 1em 2.5em 1em 2.5em;

    display: inline-flex;
    font-size: 0.5em;
    letter-spacing: 1px;
    color: white;
    border: 1px solid black;
    margin-bottom: 0.5em;
}
    .button-black:hover {
        background-color: white;
        color: black; 
        transition: 0.5s;
        
    }

.white {
    background-color: white;
    border: 1px solid black;

    color: black;
}

    .button-black:hover {
        background-color: gray;
        color: white; 
        transition: 0.5s;
        
    }


.header > .button-black {
    font-size: 1em;
    margin-left: 0.75em;
    padding: 1em 3.5em 1em 3.5em;


}

.doc {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    margin-top: 3em;
    text-align: center;

    margin-left: 50%;
    margin-right: auto;
    
}

.doc iframe {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 50%; 
    height: 75%;
    z-index: -1;
}

/* Front Page Content */

h1 {
    font-size: 4em;       
    text-align: center;
    padding-bottom: 0.35em;
}

h3 {
    font-size: 1.5em;
    font-weight: 200;
}

p {
    font-size: 0.65em;
    padding: 0em 0em 2em 0em;
    line-height: 1.5em;
    color:rgb(100, 100, 100);
}

img {
    max-width: 100%;
    display: block;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em 0em 0em 0em;
    
}

/* Content */

.content {
    display: grid;
    width: 70%;
    margin: 0em 15% 2em 15%;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-template-areas: 
    "c1 p1" 
    "c2 p2"
    "c3 p3";
    
}

    .content-item {
        
        padding: 20px;
        font-size: 30px;
        text-align: left;
    }

    .content-item h3 {
        padding-bottom: 0.5em;
    }
    
        .content-1 { grid-area: c1; }   
        .content-2 { grid-area: c2; }   
        .content-2 { grid-area: c2; }  
        .pic-1 { grid-area: p1; } 
        .pic-2 { grid-area: p2; } 
        .pic-3 { grid-area: p3 } 


.info {
    display: grid;
    width: 65%;
    margin: 0em 17.5% 2em 17.5%;
    grid-template-columns: minmax(auto, 35%) auto;
    
    padding-top: 0em;
}

    .info h3 {
        font-size: 1.25em;
        padding-bottom: 0.5em;
    }

.info-header {
    padding: 20px;
    padding-top: 1.5em;
    font-size: 30px;
    text-align: left;
    display: block;
}

    .info-header h4 {
        font-size: 3em;
    }   

    .info-header img {
        max-width: 70%;
        padding: 1em 1em 1em 1em;
    }

.info-item {

    padding-top: 1.5em;
    border-bottom: 1px solid rgb(150, 150, 150);
    font-size: 30px;
    padding-bottom: 2em;

    max-width: calc(65vw - 15%);
    padding-right: 1em;
}

    .info-item img {
        padding: 0em 2em 0em 2em;
        max-width: calc(100% - 4em);
    }



/* Gallery */
.gallery {
    display: grid;
    width: 70%;
    margin: 0em 15% 2em 15%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em;
    align-items: center;
    
}

    .gallery-item {
        border-radius: 25px;
        
        text-decoration: none;
        
        font-size: 30px;
        text-align: center;
        box-shadow: 5px 5px 12px gray;
        transition: 0.5s;
        height: 100%;
        
        margin-bottom: 1em;
        
    }

    .gallery-item img {
        border-radius: 25px;
    }

    .gallery-item p {
        
        font-size: 13pt;
        margin: 0.5em 1em 0.25em 1em;
        padding-bottom: 0.75em;
        
    }

    .gallery-item a {
        text-decoration: none;
    }

    .gallery-item h4 {
        color: black; 
    }



/* Footer */
footer {
    display: block;
    text-align: center;
    
    padding: 2.5em 0em 2.5em 0em;

    font-size: 2em;
}

.link {
    text-decoration: underline;
}
    .link:hover, .link:visited:hover{
        color: blue;
        transition: 0.8s;
    }
    
    .link:visited {
        color:rgb(100, 100, 100)
    }


:target {
    display: block;
    position: relative;
    top: -3.75em;
    visibility: hidden;
}

/* Photo Grid (for info pages) */
.photo {
    display: grid;
    width: 85%;
    margin: 0em 12.5% 1.25em 12.5%;
    grid-template-columns: auto auto;
    align-items: center;
    height: auto;
    grid-gap: 0.5em;
}

.col-3 {
    grid-template-columns: auto auto auto;
}

.photo-item {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    height: auto;

    
}
    .photo-item img {
        padding: 0em 0em 0em 0em;
        border-radius: 10px;
        max-width: 100%;

    }


.header-grid {
    display: grid;
    width: 65%;
    margin: 0em 17.5% 0em 17.5%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-gap: 1em;
    text-align: center;
    height: auto;
}
    .header-item {

        font-size: 1.75em;
        justify-content: center;
        height: 1fr;
        padding-bottom:  0.5em;
        border-radius: 10px;
        box-shadow: 5px 5px 12px gray;
        transition: 0.3s; 

        flex-direction: column;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 70% 1fr;
    }

        .header-item img {
            width: 75%;
            margin-left: 12.5%;
            padding-top: 0.5em; 
            padding-bottom: 0.75em;
        }

        .header-item > .button-black {
            margin-left: 0.75em;
            margin-right: 0.75em; 
        }

        .header-item > .card-button {
            text-decoration: none;
            text-transform: uppercase;
            background-color: rgb(230, 230, 230);
            color:black;
            font-size: 13pt;

            padding: 1em 0.35em 0em 0.35em; 

            height: 100%;
            
            display: flex;
            justify-content: center;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        } 
    

    .header-item:hover {
        box-shadow:  5px 5px 15px black;
    }
    
    .gallery-item:hover {
        box-shadow:  5px 5px 15px black;
    }

@media screen and (max-width: 1401px) {
   
    
        .home h1 {
            font-size: 4em;  
        }

        .home h2 {
            font-size: 1.25em;
        }

    h1 {
        font-size: 3em;       
    }

    h3 {
        font-size: 1.25em;
    }

    p {
        font-size: 0.6em;
    }

    .header {        
        padding: 1.5em 0em 2em 0em;
    }

    .info {
        display: grid;
        width: 80%;
        margin: 0em 10% 2em 10%;
    }

    

}

@media screen and (max-width: 1301px) {
    .home h1 {
        padding-bottom: 0.25em;
    }
    
    .home h2 {
        font-size: 1.15em;
        padding-bottom: 2em;
    }

    .info h2, .info h3 {
        font-size: 0.85em;
    }

    .header-grid {
        width: 75%;
        margin: 0em 12.5% 0em 12.5%;
        grid-gap: 0.75em;
    }

}

@media screen and (max-width: 1001px) {


 
    h3 {
        font-size: 1.15em;
    }

    
    .intro {
        width: 82%;
    }

    .button-white {
        font-size: 0.85em;
    }

    .button-white, .button-black  {
        
        padding: 1em 2em 1em 2em;

    }


    .header {        
        padding: 1.5em 0em 2em 0em;
    }

    
    .content, .gallery {
        width: 80%;
        margin: 0em 10% 2em 10%;
    }


    .header-grid {
        
        grid-gap: 1em;
        text-align: center;
        height: 35em;
    }

    .header-item > .card-button {
        font-size: 12pt;
    }
   
}

@media screen and (max-width: 801px) {

    .home h1 {
        font-size: 3.25em;  
    }

    .home h2 {
        font-size: 1.15em;  
    }

    

    .navButton {
        padding-top: 0.375em; 
        position: fixed;
        
        width: 100%;
        margin-right: 2em;
        visibility: visible;
        
    }

    .nav {
   
        display: grid;
        width: 100%;
        align-items: center;
        grid-template-columns: 3fr 1fr 0px;

        
    }

    .navwrap {
        visibility: hidden;
    }

    .navhome {
        display: inline-flex;
      
        margin-right: calc(100% - 8rem);
        padding-left: auto;
        height: 2em;
        width: 100px;
        
    }

    .button-white {
        font-size: 0.85em;
        margin-left: 1em;
    }

    .button-black {
        margin-left: 0em;
    }

    .button-white, .button-black  {
        padding: 1em 2em 1em 2em;
    }

    .info-item img {
        padding-left: 0em ;
        padding-right: 0em;
        max-width: 100%;
    }

    .header-grid {

        height: 75vh;
    }

    .header-item > .card-button {
        font-size: 11pt;
    }

    .header-item {

        
        grid-template-columns: 100%;
        grid-template-rows: 60% 1fr;
    }

    .gallery {
        width: 90%;
        margin: 0em 5% 2em 5%;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 1em;

        
    }
}


@media screen and (max-width: 721px) {

    
    .home h1 {
        font-size: 2.65em;  
    }

    .home h2 {
        font-size: 1em;
    }

    h1 {
        font-size: 2.5em;
    }
 
    h3 {
        font-size: 1em;
    }

    p {
        font-size: 0.5em;
    }



    .button-white, .button-black {
        padding: 1em 2em 1em 2em;
       
    }
    
    .button-black {
        font-size: 0.45em;
    }

    .button-white {
        font-size: 0.75em;
    }

    .header {        
        padding: 1.5em 0em 2em 0em;
    }

    
    .content, .gallery {
        width: 88%;
        margin: 0em 6% 2em 6%;
    }

    .info {
        width: 90%;
        margin: 0em 5% 2em 5%;
    }

    .header-grid {
        height: 72vh;
    }

    .header-item > .card-button {
        font-size: 12pt;
    }
}

@media screen and (max-width: 671px) {
    .home h1 {
        font-size: 2.35em;
    }
    
    .intro {
        width: 90%;
    }

    .header > .button-black {
        font-size: 10pt;
    }

    /* Collapse info sections */
    .info {
        grid-template-columns: 100%;
        width: 80%;
        margin: 0em 10% 2em 10%;
        
    }

    .info-item {
        padding-top: 0em;
        padding-right: 0em;
        max-width: 100%;
    }

        .info-item img {
            max-width: 100%;
            padding-left: 0;
        }

   .info-header {
       display: flex;
       padding-left: 0em;
   }

   .info-header img {
        display: flex;
        max-width: 35%;
    
    }

    .info-header h2 {
        margin: auto;
    }
    
    .header-grid {
        
        width: 90%;
        margin: 0em 5% 0em 5%;
        grid-template-columns: 30% 30% 30% ;
        grid-template-rows: 33% 33% 33%;
        justify-content: center;
        height: auto;
    }

    .header {
        display: grid;
        grid-template-columns: 100%;
        width: 75%;
        margin: 0em 12.5% 0em 12.5%;
        
    }

    .header > .button-black {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .gallery {
        width: 75%;
        margin: 0em 12.5% 2em 12.5%;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        
        
    }

    .gallery-item img{
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
    }

    .photo {
        grid-gap: 0.5em;
            
    }

}


@media screen and (max-width: 510px) {
    .home h1 {
        font-size: 2em;  
    }

    .home h2 {
        font-size: 0.9em;  
    }

    .home {
        padding-top: 2em;
        padding-bottom: 2.5em;
    }
    

    .content {
        grid-template-columns: auto;
        grid-template-areas: 
        "p1" "c1" "p2" "c2" "p3" "c3";
        
    }
    
    .content-1, .content-2, .content-3 { 
        padding-bottom: 2em; 
    }   
        
    .info {
        width: 90%;
        margin: 0em 5% 2em 5%;
    }

    .photo {
        width: 100%;
        margin: 0em 0em 0em 0em;
        grid-gap: 0.25em;

    }
    
}


@media screen and (max-width: 480px) {
    .home h2 {
        padding-bottom: 0.5em;
    }

    .home {
        padding-bottom: 1.25em;
    }

    .button-white {
        display: flex;
        justify-content: center;
    }
    
    .header-grid {
        grid-gap: 0.5em;
    }

    .header-item > .card-button {
        font-size: 9pt;
    }

}